.btn__return__list {
    margin-top: 1rem;
    background-color: var(--secondary-color);
    color: var(--main-color);
    border: none;
    border-radius: 4px;
    padding: .5rem 1rem;
    cursor: pointer;
}